---
import Layout from "./Layout.astro";
import Svg from "@jasikpark/astro-svg-loader";
import AlternatingContainer from "../components/AlternatingContainer.astro";
import Hero from "../components/Hero.astro";
import ContentCard from "../components/ContentCard.astro";
import ContentContainer from "../components/ContentContainer.astro";
import type { MarkdownLayoutProps } from "astro";

const { compiledContent, headings } = Astro.props as MarkdownLayoutProps<{}>;

const splitByHeadings = compiledContent().split(/(?=\n<h)/);
const contentWithoutHeadings = splitByHeadings.map((content) =>
  content.split(/(?=\d>\n)/)[1].slice(3),
);
---

<script>
  function scrollElement(element: HTMLElement) {
    const { scrollingElement } = document;
    if (scrollingElement)
      element.style.top = `${-0.2 * scrollingElement.scrollTop}px`;
  }
  const target = document.getElementById("scrollingBackground");

  if (target) {
    window.addEventListener("scroll", () => scrollElement(target));
    scrollElement(target);
  }
</script>

<Layout title="Faradgang Berlin e.V.">
  <Hero isLanding={true}>
    <Svg
      src={import("../assets/faradgang_logo_big.svg?raw")}
      aria-label="A childishly drawn bicycle"
      width="100%"
    />
  </Hero>

  <ContentContainer>
    <div id="scrollingBackground">
      <Svg
        src={import("../assets/wheel.svg?raw")}
        aria-label="Sketch of a bicycle wheel"
        width="calc(5rem + 6vw)"
        style="position:absolute;right:0%;top:7rem"
      />
      <Svg
        src={import("../assets/bell.svg?raw")}
        aria-label="Sketch of a bicycle bell"
        width="calc(2rem + 6vw)"
        style="position:absolute;right:15%;top:25rem"
      />
      <Svg
        src={import("../assets/cart.svg?raw")}
        aria-label="Sketch of a bicycle cart"
        width="calc(8rem + 6vw)"
        style="position:absolute;left:5%;top:32rem"
      />
      <Svg
        src={import("../assets/backlight.svg?raw")}
        aria-label="Sketch of a bicycle backlight"
        width="calc(2rem + 6vw)"
        style="position:absolute;right:5%;top:62rem"
      />
      <Svg
        src={import("../assets/pedal.svg?raw")}
        aria-label="Sketch of a bicycle pedal"
        width="calc(8rem + 6vw)"
        style="position:absolute;right:0%;top:75rem"
      />
      <Svg
        src={import("../assets/dynamo.svg?raw")}
        aria-label="Sketch of a bicycle dynamo"
        width="calc(2rem + 6vw)"
        style="position:absolute;left:5%;top:100rem"
      />
      <Svg
        src={import("../assets/brakes.svg?raw")}
        aria-label="Sketch of bicycle brakes"
        width="calc(5rem + 6vw)"
        height="auto"
        style="position:absolute;right:0%;top:130rem"
      />
    </div>
    <AlternatingContainer>
      {
        contentWithoutHeadings.map((content, idx) => (
          <ContentCard>
            {headings[idx].depth === 1 ? (
              <h1 slot="header" id={headings[idx].slug}>
                {headings[idx].text}
              </h1>
            ) : (
              <h2 slot="header" id={headings[idx].slug}>
                {headings[idx].text}
              </h2>
            )}
            <div set:html={content} />
          </ContentCard>
        ))
      }
    </AlternatingContainer>
  </ContentContainer>
</Layout>

<style>
  #scrollingBackground {
    position: relative;
    z-index: -1;
    color: rgb(50, 50, 30);
    width: 100%;
    left: 0;
  }
</style>
